{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "no-undef": "off",
    "react/prefer-stateless-function": "off",
    "no-underscore-dangle": "off",
    "import/no-extraneous-dependencies": "off",
    "react/jsx-filename-extension": "off",
    "react/prop-types": "off"
  }
}
